# Ignore nested node_modules
demo/node_modules/

# Ignore all VSCode config except recommended extensions
demo/.vscode/*
!demo/.vscode/extensions.json

# Ignore system files
**/.DS_Store

# Ignore log files
demo/npm-debug.log*
demo/yarn-error.log*
demo/pnpm-debug.log*

# Ignore build output
demo/dist/
demo/.vite/
demo/build/

# Ignore test output
demo/coverage/
demo/test-report/

# Ignore environment files
demo/.env*